.about-container{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    /* border:4px solid yellow; */
    
}
.TEDxAbout-container{
    position: relative;
    z-index: 2;
      margin-top: 10rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.TEDxAbout-container h1{
    font-size: 54px;
    font-family: "Host Grotesk", sans-serif;
    width: 100%;
}
.TEDxAbout-container p{
    font-size: 24px;
    text-align: justify;
}
.TEDxSvitAbout-container{
    position: relative;
    z-index: 2;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
     flex-direction: column;
     margin-bottom: 20rem;
}
.TEDxSvitAbout-container h1{
    font-family: "Host Grotesk", sans-serif;
    font-size: 54px;
    width: 100%;
    display: flex;
}
.TEDxSvitAbout-container p{
    font-size: 24px;
    text-align: justify;
}
.aboutMandala{
    position: absolute;
    padding: 5rem;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    
    animation: mandalaAbout 200s linear infinite forwards;
}
  

@keyframes mandalaAbout {
  0% {
    transform:rotate(0deg);
    opacity: 30%;
  }
  10% {
    transform:rotate(36deg);
    opacity: 100%;
  }
  20% {
    transform:rotate(72deg);
    opacity: 30%;
  }
  30% {
    transform:rotate(108deg);
    opacity: 100%;
  }
  40% {
    transform:rotate(144deg);
    opacity: 30%;
  }
  50% {
    transform:rotate(180deg);
    opacity: 100%;
  }
  60% {
    transform:rotate(216deg);
    opacity: 30%;
  }
  70% {
    transform:rotate(252deg);
    opacity: 100%;
  }
  80% {
    transform: rotate(288deg);
    opacity: 30%;
  }
  90% {
    transform:rotate(324deg);
    opacity: 100%;
  }
  100% {
    transform:rotate(360deg);
    opacity: 30%;
  }
}